.App {
  text-align: center;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #4CAF50; /* Green */
  color: white;
  margin-right: 1rem;
}

.btn-primary:hover {
  background: none;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  transition: 0.5s ease-in-out;
  
}

.btn-secondary {
  background-color: #788e96; /* Blue */
  color: white;
}

.btn-secondary:hover {
  background: none;
  color: #788e96;
  border: 1px solid #788e96;
  transition: 0.5s ease-in-out;
}