.App {
  text-align: center;
}

.btn {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1.5rem 0;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #4CAF50; /* Green */
  color: white;
  margin-right: 1rem;
}

.btn-primary:hover {
  background: none;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  transition: 0.5s ease-in-out;
  
}

.btn-secondary {
  background-color: #788e96; /* Blue */
  color: white;
}

.btn-secondary:hover {
  background: none;
  color: #788e96;
  border: 1px solid #788e96;
  transition: 0.5s ease-in-out;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 2rem auto;
  border: 1px solid #ccc;
}

.input {
  width: 30%;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-color {
 margin-top: 1.5rem;
 background: #60b963; 
}